version: '3.9'

services:
  backend:
    build: ./nba-tracker-api
    container_name: nba-backend
    ports:
      - "8000:8000"
    volumes:
      - ./nba-tracker-api:/app
    environment:
      - GROQ_API_KEY=${GROQ_API_KEY}
      - NBA_API_CONFIG=${NBA_API_CONFIG}
      - NBA_API_PROXY=${NBA_API_PROXY}
      - FRONTEND_URL=${FRONTEND_URL:-*}
    networks:
      - nba-network

  frontend:
    build: ./nba-tracker
    container_name: nba-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./nba-tracker:/src
      - /src/node_modules
    networks:
      - nba-network

networks:
  nba-network:
    driver: bridge
